# https://git-scm.com/docs/git-config/

[credential]
{{- if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "android")) -}}
{{-   if .is_server }}
  helper = cache --timeout=86400
{{-   else }}
  helper = libsecret
{{-   end }}
{{- else if eq .chezmoi.os "windows" -}}
  helper = manager
{{- else }}
{{- end }}

[core]
  pager = delta
{{- if eq .chezmoi.os "windows" }}
  editor = code --wait
{{- end }}

[user]
  email = {{ .email }}
  name = {{ .name }}
  signingKey = {{ .email }}

[init]
  defaultBranch = main

[pull]
  autostash = true

[rebase]
  autostash = true

[fetch]
  prune = true

[commit]
  gpgSign = true

[tag]
  gpgSign = true

[diff]
  tool = nvimdiff

[merge]
  tool = nvimdiff3
  autostash = true

[difftool "nvimdiff"]
  cmd = \"$EDITOR\" -d \"$LOCAL\" \"$REMOTE\"

[mergetool "nvimdiff3"]
  cmd = \"$EDITOR\" -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\"

[interactive]
  diffFilter = delta --color-only

[delta]
  features = side-by-side line-numbers decorations navigate
  syntax-theme = Catppuccin-mocha
  plus-style = syntax auto
  minus-style = syntax auto

[delta "decorations"]
  file-style = bold yellow ul
  file-decoration-style = none
  commit-decoration-style = bold yellow box ul
  hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
  line-numbers-left-style = cyan
  line-numbers-right-style = cyan
  line-numbers-minus-style = 124
  line-numbers-plus-style = 28

{{- if .is_server }}

[safe]
  directory = /etc/nginx
{{- end }}
