# -*-yaml-*- vim:syntax=yaml
# code:language=yaml

{{ $email := promptString "Email address" "latifsulistyo.me@gmail.com" -}}
{{ $name := promptString "Full name" "Latif Sulistyo" -}}

data:
  email: {{ $email }}
  name: {{ $name }}
