{{ $email := promptStringOnce . "email" "Email address" "latifsulistyo.me@gmail.com" -}}
{{ $name := promptStringOnce . "name" "Full name" "Latif Sulistyo" -}}

{{ $isServer := false -}}
{{ $isWSL := (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}

{{- if eq .chezmoi.os "linux" -}}
{{-   if not $isWSL -}}
{{-     $chassis := output "hostnamectl" "chassis" | trim -}}
{{-     if eq $chassis "server" -}}
{{-       $isServer = true -}}
{{-     end -}}
{{-   end -}}
{{- end -}}

{{ $isNoGUI := or (eq .chezmoi.os "android") $isServer $isWSL -}}
{{ $isGUI := and (not $isNoGUI) (eq .chezmoi.os "linux") -}}

progress: true

diff:
  pager: delta
  command: delta
  args: ["--paging", "never"]
  exclude: [dirs, scripts]

data:
  email: {{ $email }}
  name: {{ $name }}
  is_no_gui: {{ $isNoGUI }}
  is_linux_gui: {{ $isGUI }}
  is_server: {{ $isServer }}
  is_wsl: {{ $isWSL }}
  is_arch_linux: {{ not (not (and (eq .chezmoi.os "linux") (lookPath "pacman"))) }}
