# -*-zsh-*- vim:ft=zsh
# code:language=shellscript

{{ $bootstrap := bitwardenFields "item" "71d96432-cd58-4fcf-a870-ae2f01159fba" -}}

export GH_TOKEN={{ $bootstrap.github_repo.value | trim }}
export HOMEBREW_GITHUB_API_TOKEN={{ $bootstrap.github_gist.value | trim }}
export VSCE_PAT={{ $bootstrap.vsce_pat.value | trim }}
export NPM_TOKEN={{ $bootstrap.npm.value | trim }}
export OWM_APIKEY={{ $bootstrap.open_weather.value | trim }}
export OWM_CITYID={{ $bootstrap.open_weather_cityid.value | trim }}
