@use "styles/bar";
@use "styles/osd";
@use "styles/calendar";
@use "styles/music";
@use "styles/system-menu";
@use "styles/modules/colors" as c;

* {
  all: unset;
}

tooltip {
  background: c.$base;
  border: 1px solid c.$crust;
  border-radius: 7px;

  label {
    font-size: 1rem;
  }
}
