{{ if ne .chezmoi.os "windows" -}}
#!{{ lookPath "bash" }}

# Install `oh-my-zsh`

set -euo pipefail

{{ template "functions-bin" }}

ZSH="${XDG_DATA_HOME:-$HOME/.local/share}/oh-my-zsh"

if [ ! -d "$ZSH" ]; then
  step "Install ${color6}oh-my-zsh${reset}"

  bash -c "$(curl -fsLS https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" -- --unattended --keep-zshrc

  success "${color6}oh-my-zsh${reset} installed successfully"
fi
{{ end -}}
