{{ if .is_server -}}
#!/usr/bin/env bash
# -*-bash-*- vim:syntax=bash
# code:language=shellscript

# Setup GoDNS on server machine

set -euo pipefail

{{ template "functions-bin" }}

sudo tee /usr/lib/systemd/system/godns.service > /dev/null << EOL
[Unit]
Description=GoDNS Service
After=network.target

[Service]
ExecStart=${HOME}/.local/bin/godns -c ${HOME}/.config/godns/config.yml
Restart=always
KillMode=process
RestartSec=1s

[Install]
WantedBy=multi-user.target
EOL

if ! pgrep -f 'godns -c.*config.yml$' &>/dev/null; then
  if ! (sudo systemctl status godns | grep -iq 'active (running)'); then
    step "Running ${color6}godns${reset} service..."

    sudo systemctl daemon-reload
    sudo systemctl enable godns
    sudo systemctl start godns
  fi
fi

success "${color6}godns${reset} already installed and started!"
{{- end }}
