{{ if ne .chezmoi.os "windows" -}}
#!{{ lookPath "bash" }}

set -euo pipefail

{{ template "functions-bin" }}

info "Install ${color6}nnn${reset} plugins"

sh -c "$(curl -fsLS https://raw.githubusercontent.com/jarun/nnn/master/plugins/getplugs)" -- master

success "${color6}nnn${reset} plugins installed successfully"
{{ end -}}
