{{ if .is_linux_gui -}}
#!{{ lookPath "bash" }}

set -euo pipefail

{{ template "functions-bin" }}

LUNARVIM_BASE_DIR="${LUNARVIM_BASE_DIR:-$HOME/.local/share/lunarvim/lvim}"
XDG_DATA_HOME="${XDG_DATA_HOME:-$HOME/.local/share}"

if ! [[ -r "$XDG_DATA_HOME/applications/lvim.desktop" ]]; then
  for d in "$LUNARVIM_BASE_DIR"/utils/desktop/*/; do
    size_folder=$(basename "$d")
    mkdir -p "$XDG_DATA_HOME/icons/hicolor/$size_folder/apps/"
    ln -s "$LUNARVIM_BASE_DIR/utils/desktop/$size_folder/lvim.svg" "$XDG_DATA_HOME/icons/hicolor/$size_folder/apps/lvim.svg"
  done

  mkdir -p "$XDG_DATA_HOME/applications"
  ln -s "$LUNARVIM_BASE_DIR/utils/desktop/lvim.desktop" "$XDG_DATA_HOME/applications/lvim.desktop"

  xdg-desktop-menu forceupdate
fi

success "${color6}LunarVim${reset} successfully installed!"
{{ end -}}
