@use "modules/colors" as c;
@use "modules/variables" as v;

.calendar-widget {
  border: 2px solid c.$catgreen;
  font: 19px monospace;
  font-weight: normal;
  border-radius: v.$rounded;

  .cal {
    calendar {
      background-color: c.$base;
      border-radius: v.$rounded;

      &:selected {
        color: c.$sapphire;
      }

      &:indeterminate {
        color: c.$subtext1;
      }

      &.header {
        color: c.$peach;
        font-weight: bold;
      }

      &.button {
        color: c.$catyellow;
      }

      &.highlight {
        color: c.$flamingo;
        font-weight: bold;
      }
    }
  }
}
