@use "modules/variables" as v;
@use "modules/colors" as c;
@use "modules/mixins" as m;

.system-menu-widget {
  @include m.window;

  .top-row {
    margin: 1rem 1.5rem;
    font-weight: bold;

    .time {
      font-size: 2rem;
    }

    .date-box {
      margin: 0 1rem;

      label {
        font-size: 1.1rem;
      }

      .date {
        color: c.$rosewater;
        margin-right: 0.5rem;
      }
    }
  }

  .settings-row {
    margin: 0.5rem 0.7rem;

    .setting-box {
      .element {
        @include m.surface;
        margin: 0.3rem;
        padding: 0;

        .icon {
          border-radius: v.$rounded;
          font-size: 1.9rem;
          padding: 1rem;

          &:hover {
            background-color: c.$overlay0;
          }
        }
      }

      .wifi-connected {
        background-color: c.$catpink;
        color: c.$crust;

        .icon:hover {
          background-color: c.$flamingo;
        }
      }

      .bt-connected {
        background-color: c.$catblue;
        color: c.$crust;

        .icon:hover {
          background-color: c.$sky;
        }
      }

      .airplane-mode {
        background-color: c.$sky;
        color: c.$crust;

        .icon:hover {
          background-color: c.$catteal;
        }
      }
    }

    label {
      font-size: 1rem;
      margin: 0 0.1rem;
    }
  }

  .sliders-row {
    @include m.surface;
    margin: 0.5rem 1rem;

    .slider-box {
      margin: 0.5rem;

      .icon {
        font: 1.3rem monospace;
        min-width: 1.5rem;
      }

      scale {
        margin-right: -1rem;
        min-width: 23rem;

        trough {
          background-color: c.$crust;
          border-radius: v.$rounded;
          margin: 0 1rem;
          min-height: 10px;
          min-width: 70px;
        }
      }

      .volume-bar highlight {
        border-radius: v.$rounded;
        background-image: linear-gradient(to right, c.$text, c.$sky);
      }

      .brightness-bar highlight {
        border-radius: v.$rounded;
        background-image: linear-gradient(to right, c.$catlavender, c.$peach);
      }
    }
  }

  .system-info-row {
    @include m.surface;
    margin: 0.5rem 1rem;

    .sys-box {
      margin: 0.3rem;

      .sys-icon-mem,
      .sys-text-mem,
      .sys-mem {
        color: c.$peach;
      }

      .sys-icon-cpu,
      .sys-text-cpu,
      .sys-cpu {
        color: c.$catblue;
      }

      .sys-mem,
      .sys-cpu {
        background-color: c.$base;
      }

      .sys-text-mem,
      .sys-text-cpu {
        font-size: 1rem;
        font-weight: bold;
      }

      .sys-icon-mem,
      .sys-icon-cpu {
        font-size: 2rem;
        margin: 1.25rem;
      }

      box {
        margin-left: 1rem;
      }
    }
  }

  .bottom-row {
    margin: 0.5rem 1rem;

    .battery-icon {
      font-size: 2rem;
    }

    .battery-percentage {
      margin-left: 0.5rem;
    }

    .battery-status {
      color: c.$subtext0;
      margin-left: 0.5rem;
    }

    .battery-wattage {
      color: c.$mauve;
    }

    .power-button {
      background-color: c.$surface0;
      border-radius: 33%;
      margin-bottom: 0.2rem;
      padding: 0.5rem;

      label {
        font-size: 1.5rem;
      }

      &:hover {
        background-color: c.$overlay0;
      }
    }
  }
}
