[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/usr/bin/java -jar %f
Name=java -jar
Comment=Custom definition for java -jar
