{{ $bootstrap := bitwardenFields "item" "71d96432-cd58-4fcf-a870-ae2f01159fba" -}}

provider: Cloudflare
login_token: "{{ $bootstrap.cloudflare_latipun_dev.value | trim }}"
domains:
  - domain_name: latipun.dev
    sub_domains: [kumori, raspi, adminer]
ip_url: https://api4.my-ip.io/ip
ipv6_url: https://api6.my-ip.io/ip
ip_type: IPv4
interval: 60
resolver: 1.1.1.1
user_agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.71 Safari/537.36 Edg/97.0.1072.62
use_proxy: false
debug_info: false
notify:
  discord:
    enabled: true
    bot_api_token: "{{ $bootstrap.discord_bottoken.value | trim }}"
    channel: "{{ $bootstrap.godns_notify_discord_channel.value | trim }}"
    message_template: "Domain **{{`{{ .Domain }}`}}** is updated to **{{`{{ .CurrentIP }}`}}**"
