@import "latipun"

configuration {
  modi: "window,drun,run,ssh";
  display-window: "   Window ";
  display-run: "   Run ";
  display-ssh: "   SSH ";
  display-drun: "   Apps ";
  font: "monospace 13";
  sidebar-mode: true;
  show-icons: true;
  window-thumbnail: true;
  timeout {
    action: "kb-cancel";
    delay: 0;
  }
  filebrowser {
    directories-first: true;
    sorting-method: "name";
  }
}
